input.grade {
  color: white;
  font-weight: bold;
}

input.grade.green {
  background-color: green;
}

input.grade.red {
  background-color: red;
}

input.grade.orange {
  background-color: orange;
}

